$service-bg:$dark-blue;
$title-color:$primary;

.services-page{
    .services-section{
       background-color: $service-bg;
       
       
       .service-item{
           margin-bottom: 55px;
           .services-info{
               color: #fff;
               
               margin-bottom: 15px;
               font-size: 1.6rem;
               line-height: 2.5rem;
           }
           
           .more-link{
               font-weight: $font-weight-medium;
               font-size: 1.4rem;
               line-height: 1.7rem;
           }
       }
    }
}

.service-single-info{
    padding: 50px 0;
    
    .service-info{
        h2{
            line-height: 4rem;
            font-size: 3.6rem;
        }
        
        p{
            line-height: 2.5rem;
            font-size: 1.6rem;
            overflow: hidden;
            height: 3*2.5rem;
        }
    }
}

@media(min-width:768px){
    .service-single-info{
        padding: 104px 0 133px;
    }
}



@media(min-width:1200px){
    .services-page{
        .services-section{
            .service-item{
                .services-info{
                   height: 100px;
                }
            }
        }
    }
}
