$linkedin:$bismark-blue;

.team-section{
    padding: 67px 0 61px;

    .team-more{
        font-size: 1.4rem;
        font-weight: $font-weight-medium;
    }

    .team-members-slider{
        overflow: hidden;

        .team-member-content{
            .team-member-name{
                margin-bottom: 1.5rem;
                a{
                    line-height: 2.7rem;
                    font-size: 2.2rem;
                }
            }

            .team-member-info{
                margin-bottom: 3rem;
                font-size: 1.6rem;
                line-height: 2.5rem;
                height: 175px;
            }



            .fa-linkedin-in{
                color: $linkedin;
                font-size: 3rem;
            }
        }
    }
}

@media(min-width:576px){
    .team-section{
        .team-members-slider{
            .team-member-content{
                .team-member-info{
                    margin-bottom:10.5rem;


                }
            }
        }
    }
}

//team.html

.team-members{
    padding: 50px 0;

    .team-member{
        figure{
            overflow: hidden;
            img{
                transition: 1s linear;
                &:hover{
                    transform: scale(1.1);
                }
            }
            .fa-brands{
                bottom: 12px;
                right: 15px;
                font-size: 2.8rem;
                color:$white;
                z-index: 5;
                &:hover{
                    text-decoration: none;
                }
            }
        }
        h5{
            a{
                color: $gray-900;
                font-size: 2.2rem;
                line-height: 2.7rem;

            }
        }
        p.team-member-position{
            font-weight: $font-weight-medium;
            font-size: 1.8rem;
            line-height: 2.7rem;
        }

    }
}

//team-single

.team-single{
    padding:15px 0 75px;
    
    .team-single-header{
        margin-bottom: 3.6rem;
        .team-member-position{
            color: $primary;
            font-size: 1.8rem;
            line-height: 2.7rem;
            font-weight: $font-weight-medium;
        }
    }
    
    .team-member-bio{
        p{
            margin-bottom: 2rem;
            line-height: 2.5rem;
        }
    }
}

@media(min-width:992px){
    .team-members{
        padding: 64px 0 133px;


    }

    .team-single{
       padding: 50px 0 148px;
    }
}


